*{
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
}
header{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('./hp.jpeg');
    height:100vh;
    background-size:cover;
    background-position: center;
}
ul{
    float:right;
    list-style-type: none;
    margin-top: 75px;
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color:whitesmoke;
    padding: 5px 20px;
    border:1px solid transparent;
    transition: 0.6s ease;
}
ul li a:hover{
    background-color: #fff;
    color: #000;
}
ul li.active a{
    background-color: #fff;
    color: #000;
}
.main{
    max-width: 1200px;
    margin: auto;
}
.title{
    position: absolute;
    top: 10%;
    left: 20%;
    transform: translate(-50%,-50%);
}
.title h1{
    color:whitesmoke;
    font-size:40px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

.form {
    position: absolute;
    top: 10%;
    left: 20%;
    transform: translate(-50%,-50%);
}